.Tab2-subcontainer {
  display: flex;
  flex-direction: column;
  .head{
    line-height: 48px;
    height: 48px;
    border-bottom:1px solid #1f324d;
    padding: 0 20px;
    font-size: 12;
    color: #59677b;
  }
  .el-col:hover{
    color:#1476FE;
  }
  .subcontainer-bottom {
    flex: 1;
    .el-table::before {
      background-color: $blue;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.11);
    }
    .el-table__header {
      background-color: $blue;
    }
    .el-table th {
      opacity: 0.61;
    }
    .el-table th,
    .el-table tr {
      color: #fff;
      background-color: $blue;
    }
    .el-table td,
    .el-table th.is-leaf {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.11);
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #002658 !important;
      opacity: 1;
    }

    .btn {
      width: 46px;
      height: 21px;
      padding: unset;
      font-size: 12px;
      background-color: $blue;
      color: $money-blue;
      border-color: $money-blue;
    }
  }
  .pagination {
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    .el-pagination {
      background-color: $blue;
      display: inline-block;
      > button,
      > ul li {
        color: rgba($color: #fefefe, $alpha: 0.8);
        background-color: $blue;
      }
      .active{
        color: #1476FE;
      }
    }
  }
}